@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--primary-font, --secondary-font), serif, sans-serif;
}

:root {
    --primary-color: #47abff;
    --secondary-color: #f2f2f2;
    --accent-color: #041635;
    --primary-color-light: #7ac2ff;
    --secondary-color-light: #1494ff;
    --accent-color-light: #e6e6e6;

    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Lato', sans-serif;
    
    --container-width-lg: 88%;
    --container-width-md: 92%;

    --transition: all 0.4s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--secondary-color);
    color: var(--accent-color);
    line-height: 1.7;
}

h1, h2 {
    font-family: var(--primary-font);
    line-height: 1.1;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    color: var(--primary-color);
}

h2 {
    font-size: 3.5rem;
    color: var(--secondary-color-light);
}

a {
    color: var(--secondary-color);
    transition: var(--transition);
    font-family: var(--secondary-font);
}

a:hover {
    color: var(--primary-color);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
}

/* ############# Nav Bar Styles ############# */
nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: var(--accent-color);
    color: var(--secondary-color);
}

.sticky {
    background: var(--accent-color);
    border-bottom: 0.2rem solid var(--accent-color);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle-btn {
    display: none;
}

.nav-logo {
    width: 5rem;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-social {
    display: flex;
    gap: 1rem;
}

.nav-social a {
    width: 2rem;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}

.nav-social a:hover {
    color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
    border-radius: 100%;
}

/* ############# Header Styles ############# */
header {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(var(--primary-color-light), var(--secondary-color-light));
    overflow:hidden
}

.hero-container {
    display: grid;
    grid-template-columns: 43% 53%;
    gap: 4%;
    margin: 10rem;
    position: relative;
}

.header_image-bg {
    background: var(--accent-color);
    height: 22rem;
    width: 16rem;
    position: absolute;
}

.header_image-lg {
    width: 29rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0)
    brightness(0.3);
    transition: var(--transition);
}

.header_image-sm {
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: var(--transition);
}

.left:hover .header_image-sm {
    opacity: 0;
}

.left:hover .header_image-lg {
    filter: saturate(1)
    brightness(1);
    border: 0rem solid var(--primary-color);
    top: 0;
    left: 0;
}

.header_head {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}


/* General empty styles */
.empty {
    height: 3.5rem;
    width: 18rem;
    background: var(--secondary-color);
    border-radius: calc(3.5rem / 2);
    margin-bottom: 3.5rem;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid var(--accent-color);
}

.header_tag {
    color: var(--primary-font);
}

.header_right p {
    margin-top: 2rem;
    width: 85%;
}

/* Only on Mobile */
.header_btn-md {
    display: none;
    padding: 1rem 2rem;
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    transition: var(--transition);
}

.header_frames {
    position: absolute;
    top: 88vh;
    right: 54rem;
    transition: var(--transition);
    background: transparent;
}

.header_frame {
    width: 14rem;
    border-radius: 50%;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);
    background: transparent;
}

.header_frame:nth-child(2) {
    transform: rotate(20deg);
    top: -2rem;
    left: 2rem;
}

.header_frames:hover .header_frame {
    transform: rotate(0deg);
}

.header_frames:hover .header_frame:nth-child(2) {
    top: 0;
    left: 15rem;
}

/* General styles */
.contact_btn {
    width: 10rem;
    height: 10rem;
    color: var(--secondary-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.header_btn {
    background: linear-gradient(30deg, var(--primary-color), var(--primary-color-light), var(--primary-color));
    position: absolute;
    right: 6%;
    bottom: -3rem;
}

.header_btn:hover {
    transform: translateY(-1rem);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
    color: var(--secondary-color);
}

.contact_btn i {
    font-size: 3.5rem;
    position: absolute;
}

.contact_btn p {
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;

    animation: spinText 30s linear infinite;
}

.contact_btn p span {
    position: absolute;
    transform-origin: 0.3rem 5rem;
}

@keyframes spinText {
    to {
        transform: rotate(360deg);
    }
}